<div class="modal-info-wrapper">
    <div class="modal-info-title">
        Условия пользовательского соглашения
    </div>
    <div class="modal-info-article">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem eveniet quibusdam labore a iure fugiat ut
        minus magnam harum beatae officiis, pariatur possimus architecto voluptate tenetur quas cupiditate aspernatur, atque
        temporibus fuga! Voluptatibus possimus repudiandae numquam praesentium quisquam nemo quidem ipsum incidunt, fugiat,
        facere cum nesciunt officiis porro cupiditate nobis neque ratione impedit quibusdam accusantium? Harum eaque
        laudantium perspiciatis, quibusdam ea placeat, autem, facere explicabo tempore possimus fugit! Ad eveniet quod nam
        quae tenetur repellendus? Rerum quaerat maiores, error totam omnis expedita possimus eius. Cumque nostrum enim
        voluptatem vitae explicabo consequuntur dolores repellat ea quas deleniti adipisci, sint deserunt hic a expedita
        pariatur animi. Exercitationem repellat facilis reprehenderit expedita at tempora amet quod eum, alias error cumque!
        Nostrum impedit culpa cupiditate reprehenderit quo totam quas corrupti earum ipsa pariatur aut magni, rem quasi
        officia molestiae similique. Nesciunt optio dolores, obcaecati laboriosam voluptates ipsum saepe mollitia quod?
        Illum, blanditiis praesentium maiores corporis facere id quod, sed ipsam possimus non placeat qui quisquam
        laboriosam! Repudiandae, provident eum, maiores, illum accusantium itaque officiis tempore blanditiis nesciunt saepe
        veritatis distinctio fuga. Autem perspiciatis maxime enim provident tempora dolorem. Neque voluptatem, hic mollitia,
        odit culpa consequuntur optio beatae unde distinctio repellendus obcaecati nesciunt molestiae et voluptatum cumque
        nulla velit quidem libero excepturi delectus repellat molestias fugiat cupiditate facilis! Ut porro enim laudantium
        sed quaerat totam voluptate inventore quis incidunt vitae suscipit, quas adipisci eligendi molestiae minus
        voluptatibus aliquam unde laborum numquam. Veritatis ducimus id modi illum optio repellat possimus assumenda
        obcaecati cumque, a amet quam quidem nulla porro incidunt reiciendis molestiae necessitatibus accusantium ut?
        Accusantium beatae odio incidunt molestiae cumque ut necessitatibus perferendis ab officiis tempora nihil aperiam id
        distinctio eligendi assumenda, sint, numquam at officia qui ipsam dicta? Modi tempore itaque excepturi ea, nostrum
        dignissimos molestiae facilis autem dolorum temporibus sunt distinctio quod voluptatibus laudantium. Accusantium ad,
        non et veritatis alias nihil earum at totam sit tempora eius qui sequi voluptatum possimus velit quae ut minima amet
        eveniet mollitia. Saepe deleniti rerum exercitationem veniam odio commodi laudantium excepturi officia perferendis
        a, nostrum distinctio ipsa harum nulla voluptates quo aperiam quasi! Ullam iusto eius labore corporis, accusantium
        nostrum, distinctio quia delectus veritatis, sit laboriosam cupiditate tempore atque a velit! Assumenda, tenetur.
        Esse inventore consequuntur at, corporis repellendus nulla repudiandae ipsam earum animi, quia sed autem error
        maiores sit magnam placeat doloremque deleniti ab dicta tempore. Aperiam reiciendis illo rerum iste at
        necessitatibus amet sit ea ex. Dolorum assumenda rerum esse eveniet unde ullam minus obcaecati facere repellendus ea
        aliquam quasi similique odio neque cumque praesentium, perferendis id ex consequatur culpa nulla consectetur nihil?
        Beatae eligendi laboriosam nulla aspernatur debitis assumenda accusantium perferendis nihil quae minima tempora
        architecto eius impedit labore dolore quibusdam, expedita quos numquam, maxime consequuntur aut eum incidunt vel!
        Corrupti aliquam deleniti et laudantium nihil, eius veritatis deserunt sapiente! Numquam aliquam expedita ut
        corporis incidunt omnis tempore error! Accusantium, quo eveniet neque delectus voluptates hic laboriosam molestiae
        fugiat asperiores voluptatum, dolor sapiente unde expedita! Temporibus dicta quae totam, cumque quo ad repellat nam.
    </div>
    <div class="modal-info-action">
        <button 
            class="common-btn btn-sm"
            (click)="modalService.close()"    
        >
            Понятно
        </button>
    </div>
</div>