@if (currentTemplate) {
    <div class="custom-modal">
        <div
            class="custom-modal_close"
            (click)="modalService.close()"
        >
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.935622" y1="0.649994" x2="12.9564" y2="12.6708" stroke="#BEBEBE" stroke-linecap="round"/>
                <line x1="12.9236" y1="0.629775" x2="0.902769" y2="12.6506" stroke="#BEBEBE" stroke-linecap="round"/>
            </svg>
        </div>
        
        <ng-container [ngTemplateOutlet]="currentTemplate"></ng-container>

    </div>
}

<ng-template #modalFormConsultation>
    <app-modal-consultation
        (consultationRequestEmitter)="sendRequest($event)"
    >
    </app-modal-consultation>
</ng-template>

<ng-template #modalFormOrder>
    <app-modal-order 
        [orderType]="orderType"
        (orderRequestEmitter)="sendRequest($event)"
    >
    </app-modal-order>
</ng-template>

<ng-template #modalAgreementInfo>
    <app-modal-agreement></app-modal-agreement>
</ng-template>

<ng-template #modalProcessingInfo>
    <app-modal-processing></app-modal-processing>
</ng-template>

<ng-template #modalSuccess>
    <app-modal-success></app-modal-success>
</ng-template>