@import '../../../../assets/styles/typography.scss';

:host {
    display: block;
    width: 396px;
    height: 267px;
    border-radius: 5px;
    border: 1px solid var(--primary-medium-blue-color);
    padding: 30px;

    .review-card {

        .review-card__header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .review-card__avatar {
                width: 60px;
                height: 60px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
                margin-right: 26px;
            }

            .review-card__name {
                @include montserrat-bold-18-mblue;
            }
        }

        .review-card__text {
            @include montserrat-reg-16-dblue-lh140;
        }
    }
}