<div class="modal-title">
    Закажите бесплатную консультацию!
</div>
<form 
    class="modal-form"
    [formGroup]="consultationForm"
    (ngSubmit)="onSubmit()"
>
    <label class="modal-form__item">
        <input 
            type="text"
            class="common-input"
            placeholder="Ваше имя"
            formControlName="{{ requestFormFields.name }}"
            [class.invalid-input]="consultationForm.get(requestFormFields.name)?.invalid &&
            (consultationForm.get(requestFormFields.name)?.touched || consultationForm.get(requestFormFields.name)?.dirty)"
        >
        @if (consultationForm.get(requestFormFields.name)?.touched || consultationForm.get(requestFormFields.name)?.dirty) {
            <svg
                class="modal-form__icon"
                [icon]="consultationForm.get(requestFormFields.name)?.invalid ? 'error-icon' : 'checked-icon'"
                [style.color]="consultationForm.get(requestFormFields.name)?.invalid ? 'red' : 'green'"
            >
            </svg>
        }
    </label>
    <label class="modal-form__item">
        <input 
            type="text"
            class="common-input"
            placeholder="Ваш номер телефона"
            formControlName="phone"
            [class.invalid-input]="consultationForm.get(requestFormFields.phone)?.invalid &&
            (consultationForm.get(requestFormFields.phone)?.touched || consultationForm.get(requestFormFields.phone)?.dirty)"
            appPhoneMask
        >
        @if (consultationForm.get(requestFormFields.phone)?.touched || consultationForm.get(requestFormFields.phone)?.dirty) {
            <svg
                class="modal-form__icon"
                [icon]="consultationForm.get(requestFormFields.phone)?.invalid ? 'error-icon' : 'checked-icon'"
                [style.color]="consultationForm.get(requestFormFields.phone)?.invalid ? 'red' : 'green'"
            >
            </svg>
        }
    </label>
    <button
        type="submit"
        class="common-btn btn-l btn-100"
        [disabled]="consultationForm.invalid"
    >
        Заказать консультацию
    </button>
</form>