<div class="modal-info-wrapper">
    <div class="modal-info-title">
        Согласие на обработку персональных данных
    </div>
    <div class="modal-info-article">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quo odio quisquam placeat nostrum ab
        perspiciatis autem odit accusamus optio architecto voluptas, earum ipsam. Tempore beatae dicta eius iure sit
        cumque. Veritatis, repellendus et accusamus aperiam vel nisi vitae cum nesciunt reiciendis fugiat corporis eos
        voluptatem quibusdam omnis voluptatum, quasi nobis modi assumenda sequi eum asperiores mollitia doloremque
        nulla! Vero, illo! Expedita quae deleniti nobis magni deserunt. Vero, placeat doloribus temporibus ab minima
        rerum tempore. Corrupti magnam delectus consectetur id aspernatur vitae ea. Assumenda, cupiditate. Ipsum, sint
        explicabo tempore vitae optio, ipsa modi enim qui iusto maiores dolorum omnis at et debitis pariatur, laudantium
        est alias quam dolor vel quasi officiis voluptatem nihil amet. Mollitia officia repellat debitis iusto earum
        quasi omnis tempora unde quam ad et obcaecati harum magnam, nulla rerum iure, fugit id aliquam. Culpa facere
        facilis, numquam unde autem sunt repellat quae velit consectetur asperiores! Delectus odio doloremque quibusdam
        assumenda velit ad ut sint eveniet sunt perspiciatis, voluptatibus porro eius itaque temporibus consectetur,
        pariatur, culpa at. Voluptatum minus odit eligendi accusantium vitae, nihil delectus eos a doloremque magnam
        aliquid vero et omnis magni iste saepe laboriosam illum accusamus laborum animi ad nulla minima. Rem expedita
        suscipit quia consectetur error unde consequuntur obcaecati eius rerum ipsam mollitia nesciunt fugit voluptate
        temporibus sunt officiis optio placeat esse fuga porro, ea dolores eveniet ad voluptatibus! Debitis, ducimus in
        nihil quas cumque aut ratione harum quibusdam, eveniet qui neque ea expedita est nulla beatae. Quaerat sapiente
        ab labore porro eos atque eius quo reiciendis eum minima esse earum ducimus similique, ipsum illum dicta ipsam
        sunt accusantium! Iure aperiam accusantium, repellendus ipsum quam sint labore vitae consectetur, quisquam
        exercitationem, tempore laudantium delectus quo beatae quod? Quo aliquid earum cupiditate nobis cumque, officia
        quibusdam distinctio. Illo expedita praesentium atque delectus dolores culpa ad.
    </div>
    <div class="modal-info-action">
        <button 
            class="common-btn btn-sm"
            (click)="modalService.close()"
        >
            Согласен
        </button>
    </div>
</div>